<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="@ViewData["Bootstrap_URL"]" media="screen">
    <link rel="stylesheet" href="/css/paste.css?vary=1">
    <link rel="stylesheet" href="@ViewData["Theme_Colors"]">
    <title>@ViewData["Title"] | Denizen Pastebin</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="theme-color" content="@ViewData["MetaColor"]" />
	<script src="/js/jquery.min.js"></script>
	<script src="/js/flasher.js?vary=1"></script>
	<script src="/js/themes.js"></script>
    @ViewData["OtherHeaderLines"]
</head>
<body onload="javascript:autoflash();">
    <nav class="navbar navbar-expand navbar-dark bg-primary navbar-fixed-ifier">
        <a class="navbar-brand" href="/">Denizen Pastebin</a>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://denizenscript.com">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/New">New</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Theme</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" title="created by Alex 'mcmonkey' Goodwin" onclick="changetheme('dark')">Standard Dark</a>
                        <a class="dropdown-item" title="created by Behr aka Hydra" onclick="changetheme('darkbehr')">Behrry Dark</a>
                        <a class="dropdown-item" title="created by acikek" onclick="changetheme('acidic')">Acidic (Dark)</a>
                        <a class="dropdown-item" title="created by Chris|LordNoob" onclick="changetheme('chrispy')">Chrispy Dark</a>
                        <a class="dropdown-item" title="created by Alex 'mcmonkey' Goodwin" onclick="changetheme('light')">Quite Light</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div style="height:90px;"></div>
    @RenderBody()
    <footer>
        <center>
            <br>
            <hr>
            Denizen Pasting Website (AKA The Denizen Pastebin), developed by Alex "mcmonkey" Goodwin on behalf of the Denizen Script team, is a pastebin webservice.
            <br>You can find <a href="https://github.com/DenizenScript/DenizenPastingWebsite">DenizenPastingWebsite on GitHub</a>, or talk to us on <a href="https://discord.gg/Q6pZGSR">Discord</a>.
            <br>@ViewData["Theme_Footer"]
			<br>Made using the @ViewData["Bootstrap_Footer"] by Thomas Park, which was released under the <a href="https://github.com/thomaspark/bootswatch/blob/7fcf822114e71cfb3b89e98afb58055d21f5e240/LICENSE">MIT License</a>.
            <p class="text-muted">DenizenPastingWebsite is Copyright (C) 2021 The Denizen Script Team, All Rights Reserved.</p>
        </center>
    </footer>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
