@model NewPasteModel
@{
    ViewData["Title"] = $"New {Model.NewTypeDisplay} Paste";
    ViewData["Description"] = $"Use this page to make a {Model.NewTypeDisplay} paste that you can share.";
    ViewData["MetaColor"] = "#000000";
    ViewData["OtherHeaderLines"] = "";
}

<br>
<form asp-antiforgery="false" name="paste_form" id="submitpost" method="POST" action="@Model.PasteURL">
    <div class="lock_top"><div style="height:90px;"></div>
    <span class="center_helper">
        <input type="hidden" id="orig_type" name="orig_type" value="@Model.NewType">
        <input type="hidden" name="editing" value="@Model.EditID">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <input type="radio" class="btn-check" name="pastetype" id="pastetype_script" value="script" autocomplete="off" onclick="setPasteType('Script')">
            <label class="btn btn-outline-primary" title="Paste a Denizen Script (.dsc)" for="pastetype_script"> Denizen Script</label>
            <input type="radio" class="btn-check" name="pastetype" id="pastetype_log" value="log" autocomplete="off" onclick="setPasteType('Log')">
            <label class="btn btn-outline-primary" title="Paste a Minecraft Server Log (.log)" for="pastetype_log"> Server Log</label>
            <input type="radio" class="btn-check" name="pastetype" id="pastetype_bbcode" value="bbcode" autocomplete="off" onclick="setPasteType('BBCode')">
            <label class="btn btn-outline-primary" title="Paste a custom BBCode message" for="pastetype_bbcode"> BBCode</label>
            <input type="radio" class="btn-check" id="pastetype_text" name="pastetype" value="text" autocomplete="off" onclick="setPasteType('Text')">
            <label class="btn btn-outline-primary" title="Paste a generic plaintext message" for="pastetype_text"> Plain Text</label>
            <input type="radio" class="btn-check" id="pastetype_other" name="pastetype" value="other" autocomplete="off" onclick="setPasteType('Other')">
            <label class="btn btn-outline-primary" title="Select some other common paste type" for="pastetype_other"> Other <select id="other_type_selection" class="form-control form-select other_box" name="other_type" onclick="setPasteType('Other')">
                <option name="other-none">---</option>
                @Model.OtherLangOptions
                </select>
            </label>
        </div>
        &nbsp;<input type="submit" id="newpaste_submit_button" class="btn btn-success" value="Submit">
        <div id="log_privacy_filter_options" class="log_privacy_filter_options" style="visibility:hidden;">
            <br>Optional Privacy Filters:&nbsp;&nbsp;
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" name="privacy_filter_playerip" class="form-check-input" id="privacy_filter_playerip" autocomplete="off">
                <label class="form-check-label" for="privacy_filter_playerip" title="If enabled, automatically hides player IPs">&nbsp;Player IPs&nbsp;&nbsp;</label>
                <input type="checkbox" name="privacy_filter_playerchat" class="form-check-input" id="privacy_filter_playerchat" autocomplete="off">
                <label class="form-check-label" for="privacy_filter_playerchat" title="If enabled, automatically hides player chat messages">&nbsp;Player Chat</label>
            </div>
        </div>
    </span>
    <br><hr>
    <span class="prefix_text">&gt;</span><textarea class="textarea_title" maxlength="200" name="pastetitle" wrap="off" rows="1" placeholder="Give your paste a title here...">@Model.PreFillTitle</textarea>
    </div>
    <div class="lock_top_spacer"></div>
    @{
        @if (Model.Edit is not null)
        {
            <span class="center_helper">Editing Paste @Model.EditID<br></span>
        }
        if (Model.ShowRejection)
        {
            <span class="center_helper">
                <br><br>
                <div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
                    <div class="card-header">Submission Refused</div>
                    <div class="card-body">
                        <p class="card-text">If you're a spammer, go away. If you're not, ask on Discord for help.
                            <br>This message usually indicates that you tried to paste a very small bit of text
                            <br>- make sure you have the FULL content you intended to paste.
                            <br>If it really is only a couple lines, just share that directly instead of using pastebin.
                            <br>Also, some title text is spam-blocked due to spambots usually putting dumb titles.
                        </p>
                    </div>
                </div>
            </span>
        }
    }
    <br><hr>
    <span class="prefix_text" id="paste_prefix_text">&gt;</span><div class="paste_spacer" id="paste_spacer"><textarea maxlength="@Model.MaxLength" name="pastecontents" id="pastecontents" placeholder="Enter your paste contents here..." autofocus="true">@Model.PreFillContents</textarea></div>
</form>
<div class="modal modal-fullscreen popup_modal_background" tabindex="-1" role="dialog" id="submit_confirm_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span id="submit_modal_text"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_yes_button" class="btn btn-primary">Yes I'm sure, submit anyway</button>
                <button type="button" id="modal_no_button" class="btn btn-primary" data-dismiss="modal">No, go back</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/newpaste.js?vary=3"></script>
<script>
    document.getElementById("pastetype_@Model.NewType").click();
</script>
