@model NewPasteModel
@{
    ViewData["Title"] = $"New {Model.NewTypeDisplay} Paste";
    ViewData["Description"] = $"Use this page to make a {Model.NewTypeDisplay} paste that you can share.";
    ViewData["MetaColor"] = "#000000";
    ViewData["OtherHeaderLines"] = "";
}

<br>
<form asp-antiforgery="false" name="paste_form" id="submitpost" method="POST" action="@Model.PasteURL">
    <div class="lock_top"><div style="height:90px;"></div>
    <span class="center_helper">
        <input type="hidden" id="orig_type" name="orig_type" value="@Model.NewType">
        <input type="hidden" name="editing" value="@Model.EditID">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary" title="Paste a Denizen Script (.dsc)">
                <input type="radio" name="pastetype" value="script" @Model.Checked("script") onclick="setPasteType('Script')"> Denizen Script
            </label>
            <label class="btn btn-primary" title="Paste a Minecraft Server Log (.log)">
                <input type="radio" name="pastetype" value="log" @Model.Checked("log") onclick="setPasteType('Log')"> Server Log
            </label>
            <label class="btn btn-primary" title="Paste a custom BBCode message">
                <input type="radio" name="pastetype" value="bbcode" @Model.Checked("bbcode") onclick="setPasteType('BBCode')"> BBCode
            </label>
            <label class="btn btn-primary" title="Paste a generic plaintext message">
                <input type="radio" id="text_button" name="pastetype" value="text" @Model.Checked("text") onclick="setPasteType('Text')"> Plain Text
            </label>
            <label class="btn btn-primary" title="Select some other common paste type">
                <input type="radio" id="other_button" name="pastetype" value="other" @Model.Checked("other") onclick="setPasteType('Other')"> Other <select id="other_type_selection" class="form-select" name="other_type" onclick="setPasteType('Other')">@Model.OtherLangOptions</select>
            </label>
        </div>
        &nbsp;<input type="submit" class="btn btn-success" value="Submit">
        <div id="log_privacy_filter_options" class="log_privacy_filter_options" style="visibility:hidden;">
            <br>Optional Privacy Filters:
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <label class="btn btn-primary" for="privacy_filter_playerip" title="If enabled, automatically hides player IPs">
                    <input type="checkbox" name="privacy_filter_playerip" class="btn-check" id="privacy_filter_playerip" autocomplete="off"> Player IPs
                </label>
                <label class="btn btn-primary" for="privacy_filter_playerchat" title="If enabled, automatically hides player chat messages">
                    <input type="checkbox" name="privacy_filter_playerchat" class="btn-check" id="privacy_filter_playerchat" autocomplete="off"> Player Chat
                </label>
            </div>
        </div>
    </span>
    <br><hr>
    <span class="prefix_text">&gt;</span><textarea class="textarea_title" maxlength="200" name="pastetitle" wrap="off" rows="1" placeholder="Give your paste a title here...">@Model.PreFillTitle</textarea>
    </div>
    <div class="lock_top_spacer"></div>
    @{
        @if (Model.Edit is not null)
        {
            <span class="center_helper">Editing Paste @Model.EditID<br></span>
        }
        if (Model.ShowRejection)
        {
            <span class="center_helper">
                <br><br>
                <div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
                    <div class="card-header">Submission Refused</div>
                    <div class="card-body">
                        <p class="card-text">If you're a spammer, go away. If you're not, ask on Discord for help.
                            <br>This message usually indicates that you tried to paste a very small bit of text
                            <br>- make sure you have the FULL content you intended to paste.
                            <br>If it really is only a couple lines, just share that directly instead of using pastebin.
                        </p>
                    </div>
                </div>
            </span>
        }
    }
    <br><hr>
    <span class="prefix_text" id="paste_prefix_text">&gt;</span><div class="paste_spacer" id="paste_spacer"><textarea maxlength="@Model.MaxLength" name="pastecontents" id="pastecontents" placeholder="Enter your paste contents here..." autofocus="true">@Model.PreFillContents</textarea></div>
</form>
<script src="/js/newpaste.js?vary=2"></script>
<script>
    setPasteType("@Model.NewType");
</script>
