@model ViewPasteModel
@{
    ViewData["Title"] = $"{Model.Paste.Title} | Paste #{Model.Paste.ID}";
    ViewData["Description"] = $"Content of {Model.Type.DisplayName} Paste #{Model.Paste.ID}: '{Model.Paste.Title}'... pasted {Model.Paste.Date}, Paste length: {Model.LengthText}";
    ViewData["MetaColor"] = Model.Type.MetaColor;
}

<center>
    <div class="card border-secondary" style="max-width: 90%;">
    <div class="card-header">Paste #@Model.Paste.ID: @Model.Paste.Title</div>
    <div class="card-body">
        <p class="card-text">
            Date: @Model.Paste.Date
            <br>Type: @Model.Type.DisplayName
        </p>
        <a class="btn btn-secondary btn-sm" href="@Model.RawLink">View Raw Paste</a>
        <a class="btn btn-secondary btn-sm" href="@Model.RawLink" download="@Model.DownloadName">Download This Paste</a>
        @if (Model.Paste.Edited > 0)
        {
            <a class="btn btn-secondary btn-sm" href="/View/@Model.Paste.Edited">Edit Of Paste @Model.Paste.Edited</a>
        }
        @if (Model.Paste.DiffReport > 0)
        {
            <a class="btn btn-secondary btn-sm" href="/View/@Model.Paste.DiffReport">View Edit Report</a>
        }
        <form name="edit_button" id="edit_button" method="POST" action="/View/@Model.Paste.ID" style="display:inline;">
            <input type="hidden" id="is_edit_button" name="is_edit_button" value="yes">
            <input type="submit" class="btn btn-secondary btn-sm" value="Edit This Paste">
        </form>
        <a class="btn btn-secondary btn-sm" id="copybutton" onclick="navigator.clipboard.writeText(document.location);doPopover('copybutton', 'Copied!');">Copy Link</a>
	<script src="/js/button.js"></script>
    </div>
    </div>
    <br>
    <span class="centering_helper">
        <span class="center_auto">
            @Model.Content
        </span>
    </span>
</center>
